<?xml version='1.0' encoding='utf-8'?>
<widget id="come.sddev.test01" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Test01</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <!-- <platform name="android">
        <preference name="Scheme" value="https" />
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="false" />
        </edit-config>
        <config-file mode="add" parent="/manifest/application/activity" target="AndroidManifest.xml">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="app.sddev.ca" android:pathPrefix="/0c4T" android:scheme="https" />
            </intent-filter>
        </config-file>
    </platform> -->
    <platform name="ios">
        <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>To take photos of your identity documents for verification purposes.</string>
        </config-file>
        <config-file parent="com.apple.developer.associated-domains" target="Entitlements-Release*.plist">
            <array>
                <string>applinks:app.sddev.ca</string>
            </array>
        </config-file>
        <config-file parent="com.apple.developer.associated-domains" target="Entitlements-Debug*.plist">
            <array>
                <string>applinks:app.sddev.ca</string>
            </array>
        </config-file>
        <preference name="Scheme" value="ionic" />
        <preference name="StatusBarDefaultScrollToTop" value="true" />
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
              <string>To take photos of your identity documents for verification purposes.</string>
        </config-file>
        <preference name="deployment-target" value="11.0.0" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-android-fingerprint-auth" spec="~1.5.0" />
    <plugin name="cordova-plugin-touch-id" spec="~3.3.1" />
    <plugin name="cordova-plugin-device" spec="^1.1.7" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <plugin name="cordova-plugin-touch-id" spec="^3.4.0" />
    <plugin name="cordova-plugin-android-fingerprint-auth" spec="^1.5.0" />
    <plugin name="cordova-plugin-appsflyer-sdk" spec="^4.4.22" />
    <plugin name="cordova-plugin-ionic-webview" spec="4.1.2">
        <variable name="ANDROID_SUPPORT_ANNOTATIONS_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-add-swift-support" spec="2.0.2" />
    <plugin name="cordova-plugin-simility-device-recon" spec="0.3.0" />
    <hook type="before_compile" src="www/install_plugins.js" />
    <!-- <engine name="android" spec="~8.1.0" /> -->
    <engine name="ios" spec="^5.0.1" />
</widget>